{% extends 'inversiones/index.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <h1 class="h3 mb-4 text-gray-800">{{ titulo }}</h1>

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Información</h6>
                </div>
                <div class="card-body">

                    <form method="post">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label }}:</label>
                            {{ field }}
                            {% if field.errors %}
                            <div class="text-danger small">
                                {{ field.errors.0 }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}

                        <hr>

                        <button type="submit" class="btn btn-success btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Guardar</span>
                        </button>

                        <a href="{% url 'categoria_list' %}" class="btn btn-secondary btn-icon-split">
                            <span class="text">Cancelar</span>
                        </a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}