<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    {% load humanize %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inversiones - Dashboard</title>

    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-chart-line"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Mis Finanzas</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Gestión
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGestion"
                    aria-expanded="true" aria-controls="collapseGestion">
                    <i class="fas fa-fw fa-database"></i> <span>Tablas Maestras</span>
                </a>
                <div id="collapseGestion" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Mis Datos:</h6>
                        <a class="collapse-item" href="{% url 'categoria_list' %}">Categorías</a>

                        <a class="collapse-item" href="{% url 'activos_list' %}">Activos</a>
                        <a class="collapse-item" href="{% url 'cuentas_list' %}">Cuentas</a>

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Registros:</h6>
                        <a class="collapse-item" href="{% url 'transacciones_list' %}">Transacciones</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Acciones
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'nueva_operacion' %}">
                    <i class="fas fa-fw fa-plus-circle"></i>
                    <span>Nueva Operación</span></a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Usuario</span>
                                <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">

                                <a class="dropdown-item" href="{% url 'sobre_mi' %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>git rm db.sqlite3
                                    Sobre Mí / Perfil
                                </a>

                                <a class="dropdown-item" href="#"> <!--Decidi no sacar estas para futuras entregas-->
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Configuración
                                </a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="#" data-toggle="modal"
                                    data-target="#logoutModal"><!--Decidi no sacar estas para futuras entregas por si acaso-->
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Salir
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                {% block content %}
                <div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Resumen de Inversiones</h1>
                        <a href="{% url 'nueva_operacion' %}"
                            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-plus fa-sm text-white-50"></i> Nueva Operación
                        </a>
                    </div>

                    <div class="row">

                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Total Invertido (Histórico)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                ${{total_inversion|intcomma}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-wallet fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Invertido este Mes</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                ${{inversion_mes|intcomma}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar-alt fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Total Operaciones</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{cantidad_operaciones}}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Evolución de Patrimonio</h6>

                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Opciones:</div>
                                            <a class="dropdown-item" href="#">Ver detalle</a>
                                            <a class="dropdown-item" href="#">Descargar reporte</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Últimos Movimientos</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Tipo</th>
                                                    <th>Categoria</th>
                                                    <th>Activo</th>
                                                    <th>Monto</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for operacion in ultimas_operaciones %}
                                                <tr>
                                                    <td>{{ operacion.fecha|date:"d/m/Y" }}</td>
                                                    <td
                                                        class="{% if operacion.tipo == 'COMPRA' %}text-success{% else %}text-danger{% endif %} font-weight-bold">
                                                        {{ operacion.tipo }}
                                                    </td>
                                                    <td>{{ operacion.activo.categoria}}</td>
                                                    <td>{{ operacion.activo }}</td>
                                                    <td>${{ operacion.precio|intcomma }}</td>
                                                    <td>
                                                        <a href="{% url 'editar_operacion' operacion.id %}"
                                                            class="btn btn-sm btn-primary btn-icon-split">
                                                            <span class="icon text-white-50">
                                                                <i class="fas fa-edit"></i>
                                                            </span>
                                                        </a>
                                                        <a href="{% url 'eliminar_operacion' operacion.id %}"
                                                            class="btn btn-sm btn-danger btn-icon-split">
                                                            <span class="icon text-white-50">
                                                                <i class="fas fa-trash"></i>
                                                            </span>
                                                        </a>

                                                </tr>
                                                {% empty %}
                                                <tr>
                                                    <td colspan="4" class="text-center">No hay movimientos cargados.
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Distribución de Activos</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% endblock %}
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Tu Portfolio 2025</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>


    <script>
        // Configuración de estilo base (copiada de SB Admin 2 para mantener la estética)
        Chart.defaults.font.family = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.color = '#858796';

        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: {{ nombres| safe }},  // Aquí entran tus etiquetas de Django
        datasets: [{
            data: {{ montos| safe }},  // Aquí entran tus números de Django
            backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#f6c23e', '#e74a3b', '#858796'], // Colores
            hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf', '#dda20a', '#be2617', '#60616f'],
            hoverBorderColor: "rgba(234, 236, 244, 1)",
                }],
            },
        options: {
            maintainAspectRatio: false,
                tooltips: {
                backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                        borderColor: '#dddfeb',
                            borderWidth: 1,
                                xPadding: 15,
                                    yPadding: 15,
                                        displayColors: false,
                                            caretPadding: 10,
                },
            plugins: {
                legend: {
                    display: true,
                        position: 'bottom',
                            labels: {
                        usePointStyle: true, // Hace que los puntitos de la leyenda sean redondos
                            padding: 20
                    }
                }
            },
            cutout: '80%',
            },
        });
    </script>

    <script>
        // --- GRÁFICO DE EVOLUCIÓN (ÁREA) ---
        var ctxArea = document.getElementById("myAreaChart");
        var myAreaChart = new Chart(ctxArea, {
            type: 'line',
            data: {
                labels: {{ fechas_evolucion| safe }}, // Tus fechas desde Django
        datasets: [{
            label: "Patrimonio",
            lineTension: 0.3, // Curvatura de la línea
            backgroundColor: "rgba(78, 115, 223, 0.05)", // Relleno azul suave
            borderColor: "rgba(78, 115, 223, 1)", // Línea azul fuerte
            pointRadius: 3,
            pointBackgroundColor: "rgba(78, 115, 223, 1)",
            pointBorderColor: "rgba(78, 115, 223, 1)",
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
            pointHitRadius: 10,
            pointBorderWidth: 2,
            data: {{ montos_evolucion| safe }}, // Tus montos acumulados
            }],
        },
        options: {
            maintainAspectRatio: false,
                layout: { padding: { left: 10, right: 25, top: 25, bottom: 0 } },
            scales: {
                x: {
                    grid: { display: false, drawBorder: false },
                    ticks: { maxTicksLimit: 7 }
                },
                y: {
                    ticks: {
                        maxTicksLimit: 5,
                            padding: 10,
                                // Agregamos el signo $ al eje Y
                                callback: function(value) { return '$' + value; }
                    },
                    grid: {
                        color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                                drawBorder: false,
                                    borderDash: [2],
                                        zeroLineBorderDash: [2]
                    }
                },
            },
            plugins: {
                legend: { display: false }, // Ocultamos leyenda porque es obvio
                tooltip: {
                    backgroundColor: "rgb(255,255,255)",
                        bodyColor: "#858796",
                            titleMarginBottom: 10,
                                titleColor: '#6e707e',
                                    titleFont: { size: 14 },
                    borderColor: '#dddfeb',
                        borderWidth: 1,
                            xPadding: 15,
                                yPadding: 15,
                                    displayColors: false,
                                        intersect: false,
                                            mode: 'index',
                                                caretPadding: 10,
                                                    callbacks: {
                        label: function(context) {
                            var label = context.dataset.label || '';
                            if (label) { label += ': '; }
                            label += '$' + context.parsed.y;
                            return label;
                        }
                    }
                }
            }
        }
    });
    </script>

</body>

</html>